/* Common CSS */
.bg-trans {
    background-color: rgba(255, 255, 255, 0.253) !important;
}
.custom_container {
    max-width: 1600px;
    margin: auto;
}
.sub_head {
    font-size: 20px;
    color: #dc3545;
}
.head {
    font-size: 40px;
}
.nav-link {
    color: #000 !important;
    text-transform: uppercase;
}
/* banner section */
.bann {
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.bann_filter {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.filt {
    border-radius: 5px;
    -webkit-box-shadow: 0px 11px 18px -3px rgba(0, 0, 0, 0.93);
    box-shadow: 0px 11px 18px -3px rgba(0, 0, 0, 0.93);
}
.filt label {
    text-transform: uppercase;
}
.form_sub {
    border: none;
    border-radius: 50%;
    padding: 0;
}
.fa-play-circle-o {
    background-color: #dc3545;
    color: #fff;
}
/* welcome section */
.wel_sec ul {
    padding-left: 25px;
}
.wel_sec ul li {
    list-style-image: url("../img/list_icon.png");
    line-height: 2.5;
}
/* Icon banner section */
.i_ban {
    background-color: #000;
}
/* Products section */
.product {
    position: relative;
}
.product .price {
    padding: 10px 30px;
    background-color: #dc3545;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
/* footer section */
.footer {
    padding: 50px 0 30px 0;
    background-color: #343434;
}
.footer .border-bottom {
    border-color: #6c757d !important;
}
.footer .text-decoration-underline {
    text-underline-offset: 8px;
}
.footer .f_ti {
    font-family: "Teko", sans-serif;
    font-size: 30px;
}
.footer h4,
.footer p,
.footer i,
.footer span,
.footer a {
    color: #fff;
    text-decoration: none;
}

.footer ul {
    padding-left: 0;
}
.footer li {
    list-style: none;
    line-height: 1;
    margin-bottom: 20px;
}
.footer .fa-map-marker {
    font-size: 28px;
}
.footer .fa-mobile {
    font-size: 30px;
}
.footer .fa-envelope {
    font-size: 20px;
}
.footer_bot .fb {
    background-color: #415b9e;
    border-color: #415b9e;
}
.footer_bot .twi {
    background-color: #47aae4;
    border-color: #47aae4;
}
.footer_bot .you {
    background-color: #c3211e;
    border-color: #c3211e;
}
.footer_bot .goog {
    background-color: #ed401a;
    border-color: #ed401a;
}
.footer_bot .rss {
    background-color: #e97c1b;
    border-color: #e97c1b;
}

@media only screen and (max-width: 576px) {
    .bann {
        height: 600px;
    }
    .footer_bot .btn-primary {
        width: 100%;
    }
}
/* Single car page styles */
#more1,
#more2,
#more3,
#more4,
#more5,
#more6 {
    display: none;
}
a.text-theme {
    color: #dc3545;
    text-decoration: none;
    font-weight: bold;
}
a.text-theme:hover {
    text-decoration: underline;
}
.single_car .fa-star {
    color: #dc3545;
}
.img-cap {
    margin: auto;
    margin-top: -20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
}
.img_cap_cont {
    padding: 2px 12px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 13%);
}
/* Cars page styles */
.cars_banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
